.nav ul {
  list-style: none;
  background-color: #191919;
  text-align: center;
  padding: 0;
  margin: 20px 200px;
}

.nav li {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 40px;
  height: 40px;
  border: .5px solid #ffffff;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

#MMB {
    align-content: center;
    width: 72%;
    margin: auto;
}

p {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 22px;
	text-align: center;
}